table,th,td{
  font-family: Helvetica, sans-serif;
  border: 0px solid black;
  border-collapse: separate;
  padding: 0px;
  margin: auto;
  overflow: auto;
}
table#t01{
  width: 100%;
  background-color: white;
}
table#t01 button{
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
}
h2{
  font-family: sans-serif;
  text-align: center; 
  color:white; 
  background-color: rosybrown;
}
h1{
  width: 100%;
  font-family: sans-serif;
  text-align: center; 
  color: dimgrey; 
  background-color: white;
  text-shadow: 2px 2px salmon;
}
.content button{
  border-radius: 12%;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
}
.mySlides{
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
}
li {
  float: right;
  width:10%;
}
li a {
  display: inline;
  padding: 8px;
}
.container{
  position: relative;
  width: 50%;
  max-width: 2000px;
}
.container img {
  width: 100%;
  height: auto;
}
.container .btn {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: lightcoral;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container .btn:hover {
  background-color: gray;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.price {
  color: black;
  font-size: 15px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: whitesmoke;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
}
.card button:hover {
  opacity: 0.7;
}
.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
}
.card1 button:hover {
  opacity: 0.7;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
 }
input[type=submit] {
  background-color: lightcoral;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}
input[type=submit]:hover {
  background-color: gray;
}
.contact-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=email]{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=password]{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=tel]{
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.n-container{
    position: relative;
    text-align: center;
    color: white;
 }
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
table#t02 button{
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: whitesmoke;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
}
table#t02{
  width: 100%;
  background-color: whitesmoke;
  float: initial;
  margin: auto;
}
h4{
  font-family: sans-serif;
  font-size: auto;
  text-align: center; 
  text-shadow: pink;
  color: black; 
  background-color:whitesmoke;
}
table#abt button{
  border: none;
  outline: 0;
  padding: 12px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
}
/*Cart*/
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

.left-column {
  width: 65%;
   position: relative;
  
}
.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: darksalmon;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: lightpink;
}
/* Responsive */
@media (max-width: 940px) {
  .container {
  flex-direction: column;
  margin-top: 60px;
}
}
.previous {
  color: black;
}
.next {
  color: black;
}
.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
article p{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: initial;
  text-align: justify;
  text-justify: inter-word;
  background-color: white;
}
.container1{
  position: relative;
  width: 50%;
  max-width: 2000px;
}
.container1 .btn {
  position: static;
  top: 50%;
  left: 50%;
  transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  background-color: lightcoral;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.container1 .btn:hover {
  background-color: gray;
}
/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  -ms-text-align-last: auto;
}*/